*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{

  background:#f5f5f5;

  font-family:Arial;

}

.app{

  width:700px;

  margin:30px auto;

  background:white;

  padding:30px;

  border-radius:10px;

  box-shadow:0 0 10px gray;

}

.header{

  text-align:center;

  margin-bottom:30px;

}

form{

  display:flex;

  flex-direction:column;

  gap:15px;

}

input,
select,
textarea{

  padding:12px;

  font-size:16px;

}

textarea{

  height:120px;

}

button{

  padding:12px;

  background:royalblue;

  color:white;

  border:none;

  cursor:pointer;

}

button:hover{

  background:blue;

}

.loader{

  margin-top:20px;

  color:blue;

}

.error{

  margin-top:20px;

  color:red;

}

.result{

  margin-top:30px;

  border-top:1px solid gray;

  padding-top:20px;

}

pre{

  white-space:pre-wrap;

  font-family:inherit;

}